<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NStack.Core" version="1.1.1" targetFramework="net48" />
  <package id="System.CodeDom" version="9.0.4" targetFramework="net48" />
  <package id="System.Management" version="9.0.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>